:root {
    --sage: #283f21;
    --champagne: #fffdf4;
    --moss: #94a776;
    --rose: #d1765b;
    --tan: rgb(221, 201, 176);
  }
  /* MAIN */
  body {
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 5%;
    font-family: 'Lato', sans-serif;
    background-color:var(--champagne);
  }
  .icon{
    height: 1rem;
  }

  .button{
    display: inline-block;
    padding: 0.8rem;
    color: white;
    background-color: var(--moss);
    text-decoration: none;
    transition-property: background-color; 
    transition-duration: 0.3s;
    border-radius: .5rem;
  }
  
  .button:hover, .button:focus{
    color: var(--sage);
    background-color: var(--champagne);
    box-shadow: 0 0 0 .05rem var(--sage);
  
  }
  

  header{
    /* display: flex; */
    align-items: center;
    flex-direction: row;
    border-bottom: solid .15rem tan;
  }
  header div{
    margin-left: auto;
    margin-bottom: 1rem;
    order: 2;
    display: flex ;
  }

  /* TITLE LOGO */
  .modu-logo{
    height: 1.15em;
    margin-top: 0.5rem;
    margin-right: 1rem;
  }

  #search-bar{
    background-color: var(--champagne);
    border: solid 0.1rem var(--moss);
    height: .8rem;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: .1rem;

  }


  .button2-navBar{
    display: inline-block;
    padding: 0.6rem;
    background-color: var(--champagne);
    text-decoration: none;
    transition-property: background-color; 
    transition-duration: 0.3s;
    border-radius: .5rem;
    border: var(--moss) solid .1rem;
    margin-left: .2rem;
    align-items: center;
  }

  .search-button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
  }


  .button2-navBar img:hover, .button2-navBar img:focus {
    filter: invert(49%) sepia(51%) saturate(488%) hue-rotate(327deg) brightness(98%) contrast(90%);
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    
  }
  .button2-navBar:hover, .button2-navBar:focus, #search-bar:hover, #search-bar:focus {
    border: var(--rose) solid .1rem;
    color: var(--rose);
  }

  
  /* BUTTONS */
  .button-nav {
    display: inline-block;
    padding: 0.6rem;
    color: white;
    background-color: var(--moss);
    border-radius: 0.5rem;
    text-decoration: none;
    transition-property: background-color; 
    transition-duration: 0.5s;
  }
  
  .button-nav:hover, .button-nav:focus {
    background-color: var(--rose);
    color: white;
  }
  .burger-navBar{
    display: none;
  }
  .button-navBar, .button-navBar-active{
    display: inline-block;
    padding: 0.6rem;
    color: white;
    background-color: var(--moss);
    text-decoration: none;
    transition-property: background-color; 
    transition-duration: 0.3s;
    border-radius: .5rem;
  }
  
  .button-navBar:hover, .button-navBar:focus {
    background-color: var(--champagne);
    box-shadow: 0 0 0 .05rem var(--rose);

  }
  .button-navBar-active{
    background-color: var(--sage);
  }

  #search-bar:hover, #search-bar:focus {
    background-color: rgb(245, 194, 171);
    
  }

  #search-bar:hover::placeholder, #search-bar:focus::placeholder {
    color: var(--rose);
    
  }

  /* INPUT and FORMS*/
  input{
    padding: 0.8rem;
    margin-top: 1rem;
    margin-left: 0rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--moss);
    border-radius: 0.5rem;
    font-family: 'Lato', sans-serif;
    border-style: none;
    transition-duration: 0.5s;
  } 
  
  input:hover, input:focus{
    background-color: var(--rose);
  }
  
  input[type="reset"]{
    background-color: var(--champagne);
    border: solid var(--moss).1rem;
  }
  
  input[type="reset"]:hover, input[type="reset"]:focus{
    border: var(--rose) solid .1rem;
    background-color: rgb(245, 194, 171);
  }
  
  #form-input{
    background-color: white;
    border: 1px solid #c6c7cc;
    margin-top: .5rem;
  }
  

  nav a:hover, nav a:focus {
    text-decoration: none;
  }

  iframe{
    border-radius: .5rem;
    height: 100%;
    width: 100%;
  }


  
#intro{
    margin-top: 8rem;
    margin-bottom: 8rem;
    line-height: 1.7rem;
  }
  
  #intro-div h3{
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    line-height: 2rem;
  }
  .imagery-grid-container{
    margin-top: 2rem;
    margin-bottom: 8rem;
    display: grid;    
    column-gap: .5rem;
    row-gap: .5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100%;
  }
  .imagery-grid-container img{
    border-radius: .5rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #form-div{
    border: solid tan .15rem;
    border-radius: .5rem;
    padding: 1rem;
  }


  input{
    padding: 0.8rem;
    margin-top: 1rem;
    margin-left: 0rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--moss);
    border-radius: 0.5rem;
    font-family: 'Lato', sans-serif;
    border-style: none;
    transition-duration: 0.5s;
  } 
  
  input:hover, input:focus{
    background-color: var(--rose);
  }

  input[type=radio]{
    margin: 0.5rem;
    margin-left: 0rem;
    accent-color: #546639;
  }
  
  /* https://stackoverflow.com/questions/2599627/how-to-select-label-for-xyz-in-css */
  label[for=form-comment]{
    margin-top: 0%;
    font-weight:600;
    color: var(--sage);
  }

    #form-comment:hover{
    transition-duration: 0.5s;
    background-color: rgb(230, 230, 230);
    
  }

  #form-comment{
    padding-left: 1rem;
    background-color: white;
    margin: 0.5rem;
    margin-left: 0rem;
    margin-right: 1rem;
    border: 1px solid var(--sage);
    margin-bottom: 1.5rem;
  }

  #form-div input[type="text"]{
    background-color: white;
    border: 1px solid var(--sage);
    margin-bottom: 1rem;
    margin-top: 0;
  }
  #form-div input[type="text"]:hover, #form-div input[type="text"]:focus {
    background-color: rgb(230, 230, 230);
  }

  textarea{
    background: white;
    padding: 1rem;
    border-radius: .5rem;
    font-family: 'Lato', sans-serif;
    border: 1px solid #c6c7cc;
    height: 10rem;
    width: 80%;
    margin-top: 0;
  }
  
  #form{
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  a {
    color: var(--moss);
    transition: color 0.5s;
  }
  
  a:hover, a:focus {
    color: var(--rose);
    text-decoration: none;
  }


     /* FOOTER */

 footer{
  margin-top: 16rem;
  /* background-color: red; */
  
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-links {
  display: flex;
  padding: 10px;
  align-items: center;
  flex-wrap: wrap;  
}

footer a{
  color: var(--champagne);
}

.footer-links a{
  margin-left: 3rem;
  margin-top: 1rem;
} 

.footer-links1{
  margin-bottom: 3rem;
}
.footer-links a:hover, .footer-links a:focus{
  color: var(--sage);
  text-decoration: underline;

}

#backgroundColorF{
  background-color: var(--moss);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 40%;
  left: 0; 
  right: 0;
}


  
  /* MEDIA QUERIES------------------- */
  @media screen and (max-width: 1266px){

    header{
      display: block;
    }
    header div{
      display: flex;
      margin-bottom: 1rem;
    }
    .imagery-grid-container{
      flex-wrap: wrap;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .profile-grid-container{
      flex-wrap: wrap;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    #section4{
      flex-wrap: wrap;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      margin-bottom: 0;
      margin-top: 16rem;
    }
    #blank{
      display: none;
    }

    @media screen and (max-width: 1150px){
      header div{
        display: block;
        margin-top: 1rem;
      }
    }
}

    @media screen and (max-width: 800px){
      iframe{
        height: 25rem;
      }
      .imagery-grid-container{
        flex-wrap: wrap;
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      #section2{
        flex-wrap: wrap;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-top: 16rem;
        row-gap: 4rem;
      }
      #section2 div{
        padding: 0;
      }
      #backgroundColor{
        height: 48rem;
      }
      #backgroundColor2{
        height: 48rem;
      }
      #section3{
        margin-top: 16rem;
      }
      #section3 h3{
        margin-top: 3rem;
      }
      .profile-grid-container{
        flex-wrap: wrap;
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      .profile-grid-container img{
        height: 25rem;
      }
      #section4{
        margin-top: 16rem;
        margin-bottom: 4rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        row-gap: 1rem;

      }
      #backgroundColor2{
        height: 100rem;
      }
    }

    @media screen and (max-width: 700px){
      header nav{
        display: none;
      }
      .burger-navBar{
        display: inline-block;
        padding: 0.6rem;
        background-color: var(--moss);
        text-decoration: none;
        transition-property: background-color; 
        transition-duration: 0.3s;
        border-radius: .5rem;
        margin-left: .1rem;
        align-items: center;
      }
      #backgroundColorF{
        height: 30rem;
      }
  

    }
  