/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

/* VARIABLES */
:root {
  --sage: #283f21;
  --champagne: #fffdf4;
  --moss: #94a776;
  --rose: #d1765b;
}
/* MAIN */
body {
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 5%;
  font-family: 'Lato', sans-serif;
  background-color:var(--champagne);
}

#description{
  margin-top: 8rem;
}
.icon{
  height: 1rem;
}

header{
  /* display: flex; */
  align-items: center;
  flex-direction: row;
  border-bottom: solid .15rem tan;
}
header div{
  margin-left: auto;
  margin-bottom: 1rem;
  order: 2;
  display: flex ;
}

/* TITLE LOGO */
.modu-logo{
  height: 1.15em;
  margin-top: 0.5rem;
  margin-right: 1rem;
}


#search-bar{
  background-color: var(--champagne);
  border: solid 0.1rem var(--moss);
  height: .8rem;
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: .2rem;

}

.button2-navBar{
  display: inline-block;
  padding: 0.6rem;
  background-color: var(--champagne);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.3s;
  border-radius: .5rem;
  border: var(--moss) solid .1rem;
  margin-left: .1rem;
  align-items: center;
}
.search-button{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

.button2-navBar img:hover, .button2-navBar img:focus {
  filter: invert(49%) sepia(51%) saturate(488%) hue-rotate(327deg) brightness(98%) contrast(90%);
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  
}
.button2-navBar:hover, .button2-navBar:focus, #search-bar:hover, #search-bar:focus {
  border: var(--rose) solid .1rem;
  color: var(--rose);
}

#search-bar:hover, #search-bar:focus {
  background-color: rgb(245, 194, 171);
  
}

#search-bar:hover::placeholder, #search-bar:focus::placeholder {
  color: var(--rose);
  
}

nav a:hover, nav a:focus {
  text-decoration: none;
}
input{
  padding: 0.8rem;
  margin-top: 1rem;
  margin-left: 0rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--moss);
  border-radius: 0.5rem;
  font-family: 'Lato', sans-serif;
  border-style: none;
  transition-duration: 0.5s;
} 

input:hover, input:focus{
  background-color: var(--rose);
}

input[type="reset"]{
  background-color: var(--champagne);
  border: solid var(--moss).1rem;
}

input[type="reset"]:hover, input[type="reset"]:focus{
  border: var(--rose) solid .1rem;
  background-color: rgb(245, 194, 171);
}

/* TEXT */
.smaller{
  font-size: .96rem;
}

.sample-type {
  color: black;
  margin-top: 3%;
  margin-bottom: 1%;
}

/* .type p {
  padding-bottom: 1rem;
  border-bottom: solid tan .1rem;
} */

h1{
  color:var(--sage);
  font-size: 2rem;
}

h3 {
  margin-top: 2rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  color: black;
  font-weight: normal;
  margin-top: 0;
  /* max-width:90%; */
  font-size: 1rem;
}

li{
  margin-top: .8rem;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: rgba(210, 180, 140, 0.411);
  display: block;
}

.element{
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color:tan;
}

a {
	color: var(--moss);
	transition: color 0.5s;
}

a:hover, a:focus {
	color: var(--rose);
	text-decoration: none;
}


::placeholder{
  color: var(--moss);
}

.type{
  padding: 2em;
  border: solid tan .15rem;
  border-radius: .5rem;
}

/* BUTTONS */
.burger-navBar{
  display: none;
}
.button-nav {
  display: inline-block;
  padding: 0.6rem;
  color: white;
  background-color: var(--moss);
  border-radius: 0.5rem;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: var(--rose);
  color: white;
}

.button-navBar{
  display: inline-block;
  padding: 0.6rem;
  color: white;
  background-color: var(--moss);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.3s;
  border-radius: .5rem;
}

.button-navBar:hover, .button-navBar:focus {
  background-color: var(--champagne);
}

/* COLOR */
.main-color{
  border-radius: .5rem;
  background-color: #283f21;
  padding-top: 8rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
  color: var(--champagne)
}
.color-grid-container {
  margin-top: .5rem;
  margin-bottom: 1rem;
  display: grid;
  column-gap: .5rem;
  /* https://stackoverflow.com/questions/47601564/equal-width-columns-in-css-grid */
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.rose, .champagne, .sage, .moss, .tan {
  border-radius: .5rem;
  padding-top: 8rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
  font-size: .8rem;
  margin-bottom: .5rem;
  overflow: hidden;
}
.rose{
  background-color: var(--rose);
}
.champagne{
  background-color: var(--champagne);
  border: tan solid .15rem;
}
.tan{
  background-color: tan;
}
.moss{
  background-color: var(--moss)
}

/* IMAGERY */
.imagery-grid-container{
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: grid;
  column-gap: .5rem;
  row-gap: .5rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.imagery-grid-container img{
  border-radius: .5rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* LOGO STYLES*/
.logo-grid-container{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: .5rem;
  align-items: stretch;

}
.logo-grid-container div{
  display: flex;
  align-items: center;
  padding: 6%;
  border-radius: 0.5rem;
}
.logo-grid-container img{
  max-width:100%;
  max-height: 100%;
}
.light-logo{
  background-color: #d1765b;
}
.dark-logo{
  border: solid tan .15rem;
}
.stacked-logo{
  border: solid tan .15rem;
}
.stacked-logo img{
  display:block;
  margin:auto;
  width: 45%;
}

/* https://stackoverflow.com/questions/43938860/how-to-tint-image-with-css */
/* IMAGE WITH LINK */
#image-link img:hover, #image-link img:focus{
  filter: blur(6px);
  transition: 0.5s;

}
#image-link img{
  margin: auto;
  width: 25em;
  border-radius: 0.5rem;
}
#image-link {
  display: flex;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: .5rem;
  border: solid 1px white;
}


.product-description {
    background-color: rgba(148, 167, 118, 0.3);
    border-radius: .5rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* padding: 20px; */
    /* margin: 20px; */
    width: fit-content;
    padding: 2rem;
    margin-bottom: 1rem;  
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.image-container {
  display: flex;
  flex-direction: column; /* Change flex direction to column */
}

.image-box {
  margin: 10px; /* Adjust spacing between boxes */
  border: 1px solid #ccc; /* Add border to create box effect */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide overflow content */
}

.image-box img {
  display: block;
  width: 100%; /* Ensure image fills the box */
  height: auto; /* Maintain aspect ratio */
}


@media screen and (max-width: 600px){
  /* INDEX */
  .color-grid-container{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .product-row{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .product-column{
    overflow: hidden;
  }
  /* SHOPPING CART TEMPLATE */
  .cart-grid-container{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-top: 2rem;
  }
  .payment-form-container{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .payment-detail{
    display: grid;
    grid-template-columns: auto;
  }
}

/* ---------------------------- */

@media screen and (max-width: 1266px){
  header{
    display: block;
  }
  header div{
    display: flex;
    margin-bottom: 1rem;
  }
  .imagery-grid-container{
    flex-wrap: wrap;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .profile-grid-container{
    flex-wrap: wrap;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  #section4{
    flex-wrap: wrap;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 0;
    margin-top: 16rem;
  }
  #blank{
    display: none;
  }
}

  @media screen and (max-width: 1150px){
    header div{
      display: block;
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: 800px){
    .imagery-grid-container{
      flex-wrap: wrap;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    #section2{
      flex-wrap: wrap;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin-top: 16rem;
      row-gap: 4rem;
    }
    #section2 div{
      padding: 0;
    }
    #backgroundColor{
      height: 48rem;
    }
    #backgroundColor2{
      height: 48rem;
    }
    #section3{
      margin-top: 16rem;
    }
    #section3 h3{
      margin-top: 3rem;
    }
    .profile-grid-container{
      flex-wrap: wrap;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .profile-grid-container img{
      height: 25rem;
    }
    #section4{
      margin-top: 16rem;
      margin-bottom: 4rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      row-gap: 1rem;

    }
    #backgroundColor2{
      height: 100rem;
    }
  }

  @media screen and (max-width: 700px){
    header nav{
      display: none;
    }
    .burger-navBar{
      display: inline-block;
      padding: 0.6rem;
      background-color: var(--moss);
      text-decoration: none;
      transition-property: background-color; 
      transition-duration: 0.3s;
      border-radius: .5rem;
      margin-left: .1rem;
      align-items: center;
    }
    .image-container img {
      width: 15rem;
  }
  .image-container{
    overflow: hidden;
  }

  }

